name: CI for Ubuntu

on: push

jobs:

  linux:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Perl
        uses: shogo82148/actions-setup-perl@v1
      - run: perl -V
      - name: Install HarfBuzz
        run: |
          sudo apt-get update
          sudo apt-get install libharfbuzz-dev
          pkg-config --libs harfbuzz
      - name: Install Dependencies
        run: cpanm --installdeps --notest . || cat /Users/runner/.cpanm/build.log
      - name: Build
        run: |
          perl Makefile.PL
          make
      - name: Run Tests
        run: make test
