name: CI for MacOS

on: push

jobs:

  macOS:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-15-intel
          - macos-latest

    runs-on: ${{ matrix.os }}

    steps:
      - uses: shogo82148/actions-setup-perl@v1
      - run: perl -V
      - name: Install HarfBuzz
      - name: Install HarfBuzz
        run: brew install harfbuzz
      - name: Install Dependencies
        run: cpanm --installdeps --notest .
      - name: Build
        run: |
          perl Makefile.PL
          make
      - name: Run Tests
        run: make test
