name: CI for MacOS

on: push

jobs:

  macOS:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-15-intel
          - macos-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: perl -V
        run: perl -V
      - name: Install cpanm
        run: brew install cpanm
      - name: Install HarfBuzz
        run: |
          brew install harfbuzz
          pkg-config --path harfbuzz
          pkg-config --libs harfbuzz
      - name: Install Dependencies
        run: cpanm --installdeps --notest .  || cat /Users/runner/.cpanm/build.log
      - name: Build
        run: |
          perl Makefile.PL
          make
      - name: Run Tests
        run: make test
